.chart-area {

}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 11px;
}

.sf-line {
    /*49ers gold */
    stroke: #b3995d;
    stroke-width: 1.5px;
    fill: none;
}

.nyc-line {
    /*nyc blue */
    stroke: #041E42;
    stroke-width: 1.5px;
    fill: none;
}

.boston-line {
    /*freedom trail red */
    stroke: #FB4D42;
    stroke-width: 1.5px;
    fill: none;
}

.tooltip-circle {
    fill: #96AB96;
}

#wind-map {
    width: 100%;
    height: 600px;
}

#day-view {
    width: 100%;
    height: 90vh;
}

.sf-bar {
    fill: #b3995d;
}

.nyc-bar {
    fill: #041E42;
}

.boston-bar {
    fill: #FB4D42;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 300px;
    height: 100px;
    padding: 2px;
    font: 12px sans-serif;
    background: #F3E779;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.sf-point {
    fill: #b3995d;
}

.nyc-point {
    fill: #041E42;
}

.boston-point {
    fill: #FB4D42;
}

/*.line {*/
/*    fill: none;*/
/*    stroke: steelblue;*/
/*    stroke-width: 2px;*/
/*}*/

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}