.chart-area {

}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 11px;
}

.sf-line {
    /*49ers gold */
    stroke: #b3995d;
    stroke-width: 1.5px;
    fill: none;
}

.nyc-line {
    /*nyc blue */
    stroke: #041E42;
    stroke-width: 1.5px;
    fill: none;
}

.boston-line {
    /*freedom trail red */
    stroke: #FB4D42;
    stroke-width: 1.5px;
    fill: none;
}

.tooltip-circle {
    fill: #96AB96;
}

#wind-map {
    width: 100%;
    height: 600px;
}

#wind-map > .leaflet-pane.leaflet-map-pane {
    width: 100%;
    height: 100%;
}

#day-view {
    width: 100%;
    height: 90vh;
}

.sf-bar {
    fill: #b3995d;
}

.nyc-bar {
    fill: #041E42;
}

.boston-bar {
    fill: #FB4D42;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 300px;
    height: 100px;
    padding: 2px;
    font: 12px sans-serif;
    background: #F3E779;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.sf-point {
    fill: #b3995d;
}

.nyc-point {
    fill: #041E42;
}

.boston-point {
    fill: #FB4D42;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

div.partview {
    height: 50%;
}

#scrolly {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f3f3f3;
    padding: 1rem;
}

#scrolly > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

article {
    position: relative;
    padding: 0 1rem;
    max-width: 30rem;
}

figure {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: white;
    z-index: 0;
}

figure > .visualization {
    visibility: hidden;
    opacity: 0;
    transition: visibility 500ms linear;
    width: 100%;
    height: 100%;
}

section h1 {
    padding: 0 3rem;
}
.step {
    margin: 0 auto 2rem auto;
    background-color: #dddddd;
    color: #3b3b3b;
}

.step:last-child {
    margin-bottom: 0;
}

.step.is-active {
    background-color: white;
    color: #3b3b3b;
}

.step p {
    text-align: center;
    padding: 0 1rem;
    font-size: 1.5rem;
}

.step h1, h2 {
    padding: 0 1rem;
    margin-top: 0 !important;
}

.tipline {
    stroke: dimgrey;
    stroke-width: 3;
}
.tiptext {
    font-size: 11px;
    text-anchor: start;
    fill: black;
}
#poptext.tiptext {
    font-size: 14px;
    font-weight: bold;
}

.nodeText {
    font-size: 11px;
    text-anchor: start;
    fill: black;
}

.sfInputLabel {
    background-color: #b3995d;
    color: white;
}

.bostonInputLabel {
    background-color: #FB4D42;
    color: white;
}

.nycInputLabel {
    background-color: #041E42;
    color: white;
}

.edge {
    stroke-width: 2;
    stroke: #808080;
    opacity: 0.3;
}